{include file="public/header" /}
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>qq账号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="user"  class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>qq密码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="pwd"  class="layui-input">
              </div>
          </div>
            <input type="hidden"  id="mid" value="" />

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn"   onclick="check_add()">
                  提交
              </button>
          </div>
      </form>
    </div>
    <script>
        /**
         * 编辑提交
         */
        function  check_add(){

        }
    </script>
  </body>

</html>