{include file="public/header" /}
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>qq账号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="user" value="{$info.qqname}"  class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>qq密码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="pwd"  value="{$info.qqpwd}" class="layui-input">
              </div>
          </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>游戏大区
                </label>
                <div class="layui-input-inline">
                    {switch name="info.qu"}
                    {case value="1"}手Q-安卓{/case}
                    {case value="2"}手Q-ios{/case}
                    {case value="3"}微信-安卓{/case}
                    {case value="4"}微信-ios{/case}
                    {default /}手Q-安卓
                    {/switch}
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>游戏名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="palyname" value="{$info.palyname}" class="layui-input">
                </div>
            </div>

            <!--
            <input type="hidden"  id="mid" value="" />
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn"   onclick="check_add()">
                  提交
              </button>
          </div>
          -->
      </form>
    </div>
    <script>
        /**
         * 编辑提交
         */
        function  check_add(){

        }
    </script>
  </body>

</html>