/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, input {margin: 0;padding: 0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
table {	border-collapse: collapse;	border-spacing: 0}
audio, canvas, video {	display: inline-block;*display: inline;*zoom: 1;}
fieldset, img {	border: 0}
address, caption, cite, code, dfn, em, strong, th, var {	font-style: normal;	font-weight: normal}
ol, ul {	list-style: none}
caption, th {	text-align: left}
h1, h2, h3, h4, h5, h6 {	font-size: 100%;	font-weight: normal}
q:before, q:after {	content: ''}
abbr, acronym {	border: 0;	font-variant: normal}
sup {	vertical-align: text-top}
sub {	vertical-align: text-bottom}
input, textarea, select {	font-family: inherit;	font-size: inherit;	font-weight: inherit}
input, textarea, select {*font-size:100%}
input {	background: none;	border: none;	outline: none;}
html, body {	 }
em, i {	font-style: normal;}
.clearfix:after {	content: "";	display: block;	visibility: hidden;	height: 0;	clear: both;}
.clearfix {	zoom: 1;}
img {	display: block;	width: 100%;}
.w {	width: 100%;}
.fl {	float: left}
.fr {	float: right}
.pr {	position: relative;}
.pa {	position: absolute;}
a{ outline:0 none; text-decoration:none;}
/*瑙ｅ喅iPhone鎸夐挳闂*/
input[type="text"], input[type="button"], input[type="submit"], input[type="reset"] {	-webkit-appearance: none;}
/*涓诲浘寮瑰箷寮€锟斤拷?*/
body {	font-size: 16px;	font-family: '\5FAE\8F6F\96C5\9ED1', '\9ED1\4F53', tahoma, sans-serif;	margin: 0 auto;	position: relative;	width: 100%;   overflow-x:hidden; background: #000;}
body{ -webkit-text-size-adjust : none ;
-moz-text-size-adjust : none ;
-ms-text-size-adjust : none ;
text-size-adjust : none}
img {	width: 100%;	vertical-align: top;}

a, img {-webkit-touch-callout: none; /* 绂佹闀挎寜閾炬帴涓庡浘鐗囧脊鍑鸿彍鍗� */}
html, body {
    -webkit-user-select: none;   /* 绂佹閫変腑鏂囨湰锛堝鏃犳枃鏈€変腑闇€姹傦紝姝や负蹇呴€夐」锛� */
    user-select: none;
}

@media all and (orientation:landscape){
  html,body{position:relative;overflow:hidden;width:100%;height:100%;padding:0;margin:0;}
  html::before{content:"";position:fixed;top:0;left:0;height:100%;width:100%;background:#000;z-index:99999;}
  body::before{content:"";position:absolute;z-index:99999;height:1.63rem;width:3rem;left:50%;top:50%;color:#fff;background-image:url("//game.gtimg.cn/images/appdaoju/act/a20200403coming/landscape.png");background-repeat:no-repeat;background-position:center center;background-size:100% auto; transform: translate(-50%,-50%);}
}



/*footer*/
.foot{ font-size:0.20rem; color:#afafb3; text-align:center; background:#000; padding:0.18rem 0 0.18rem 0; line-height:0.30rem;}



.wrap{width:100%;overflow: hidden;position: relative; background: #f2f2f2; padding-bottom: .2rem; padding-bottom: 1.8rem;}

.spr_btn , .pop_btn a ,.qfj_btn1{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/spr_btn.png); background-size: 6.95rem; }

/*kv*/
.kv{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/kv.jpg) no-repeat; background-size: 100%; width: 100%; height: 4.54rem; position: relative;}
.kv_logo_wz{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/kv_logo_wz.png) no-repeat; width: 1.67rem; height: .45rem; background-size: 100%; margin-left: .46rem; }
.kv_logo_djc{background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/kv_logo_djc.png) no-repeat; width: 1.29rem; height: .38rem; background-size: 100%; }
.kv_logo_qq{background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/kv_logo_qq.png) no-repeat; width: 0.79rem; height: .54rem; background-size: 100%; }
.kv_logo_wx{background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/kv_logo_wx.png) no-repeat; width: 1.9rem; height: .44rem; background-size: 100%;}




.logos{ position: absolute; top: .55rem; width: 100%;}
.logos.wx{ top: .3rem;}
.logo_item{ float: left; margin-right: 0.38rem;}
.w_qq .logo_item{ float: left; margin-right: 0.15rem;}
.pt375{ padding-top: 3.75rem;}
.login{ font-size: .2rem; color: #ffffff; text-align: center; }
.login a{ font-size: .2rem; color: #ffffff; text-decoration: underline;}
.kv_tips{ font-size: 0.18rem; color: #ffffff; text-align: center; margin-top: 0.05rem;}

/*wrap_content*/
.wrap_content{ background: #f2f2f2; min-height: 10rem; border-top-left-radius:0.15rem;border-top-right-radius:0.15rem; margin-top: -0.1rem; position: relative; z-index: 2; padding-top: .13rem;}
.c_box{ width: 7.23rem; margin: 0 auto 0.15rem; background: #ffffff; border-radius: 0.15rem; position: relative;}

.c_b_tit{ font-size: .33rem; color: #242424; text-align: center; }
p.c_b_tit_p{ font-size: .18rem; color: #707070; text-align: center; margin-top: .05rem;}

.btn_c{ width: 100%; text-align: center; margin-top: .15rem;}
.btn_c a{ display: block; width: 3.48rem; height: .96rem; display: inline-block; line-height: .96rem; font-size: .26rem; color: #ffffff; letter-spacing: 0.02rem; }

a.c_btn_1{  background-position: 0 0;}
a.c_btn_2{  background-position: -3.48rem 0;}
a.c_btn_3{ width: 2.19rem; height: .89rem; line-height: .89rem; margin: 0 0.08rem;  background-position:0 -1.09rem;}
a.c_btn_1.btn_hui{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/btn_huise.png) no-repeat; width: 3.48rem; height: .89rem; background-size: 100%; margin-bottom: .1rem;}
a.c_btn_2.btn_hui{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/btn_huise.png) no-repeat; width: 3.48rem; height: .89rem; background-size: 100%; margin-bottom: .1rem;}

.icon_bx{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/icon_bx.png) no-repeat; width: 3.02rem; min-height: 2.49rem; background-size: 2.57rem; background-position: 0.34rem 0.12rem; margin-left: 0.05rem; }
.icon_bx_cs{ font-size: .2rem; color: #5a5a5a; text-align: center; padding-top: 2.54rem; font-weight: bold;}
.icon_bx_cs span{ color: #ff9800;}

.bx_list{ background: #f2f2f2; text-align: center; width: 3.91rem; font-size: 0; padding-top: .15rem; border-radius: 0.1rem;  }
.bx_list li{ display: inline-block; width: .77rem; margin: 0 0.25rem; }
.bx_pro_img{ background: #fff; border: 0.02rem solid #d2d2d2; border-radius: 0.05rem; width: .73rem; height: .73rem; overflow: hidden; position: relative;}
.bx_pro_img img{ width: .65rem; height: .65rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.bx_proname{ width: 1.24rem; margin-left: -.23rem; text-align: center; font-size: .18rem; color: #5a5a5a; padding-top: .07rem; height: .62rem;}

/*蹇冧华鐨偆 鑷€夌绂�*/
a.btn_cjjl{ font-size: .22rem; color: #ec7500; position: absolute; top: .36rem; right: .21rem; text-decoration: underline;}
.pf_t1{ font-size:.2rem; color: #5a5a5a; font-weight: bold; text-align: center;}
.pf_t1 span{ color: #ff9800;}
.pf_t2{ font-size:.18rem; color: #5a5a5a;   text-align: center; padding-top: .1rem;}

.pf_proimg{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pf_icon_bg.png) no-repeat ; background-size: 100%; width: 2.2rem; height: 1.25rem; position: relative;}
.pf_proimg img{ width: 1.05rem; height: 1.05rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.pifu_box{ width: 100%; text-align: center; font-size: 0;}
.pifu_box li{ width:2.2rem; display: inline-block; margin: 0 0.1rem; position: relative;}
.pf_proname{ font-size: .22rem; padding-top: .1rem; color: #707070; }
.ss .pf_proname{  color: #ec7700;}
.yz .pf_proname{  color: #6e9ec6;}
.rm .pf_proname{  color: #6e9ec6;}
.pf_yhd{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pf_act.png) no-repeat; width: .87rem; height: .83rem; background-size: 100%; position: absolute; top: 0; left: 0; z-index: 2; text-indent: -9999rem; display: none;}
.act .pf_yhd{   display: block;}

.ss_pf_proimg{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pf_ss_bg.png) no-repeat; width: 2.2rem; height: 1.25rem; background-size: 100%;}
.yz_pf_proimg{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pf_yz_bg.png) no-repeat; width: 2.2rem; height: 1.25rem; background-size: 100%;}
.rm_pf_proimg{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pf_yz_bg.png) no-repeat; width: 2.2rem; height: 1.25rem; background-size: 100%;}


/*鏇村閬撳叿鍩�*/
.djc_tit{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/djc_tit.png) no-repeat; width: 3.58rem; height: .53rem; background-size: 100%; margin: 0.12rem auto 0;}
.djc_proimg{ width: 2.07rem; height: 1.6rem;}
.djc_list{ width: 100%; text-align: center; font-size: 0;}
.djc_list li{ width:2.07rem; display: inline-block; margin: 0 0.12rem; position: relative;}
.djc_proname{ font-size: .2rem; color: #fff; width: 100%; position: absolute; top: 1.18rem; line-height: 0.35rem;}



/*rule*/
.rule{ width: 6.78rem; margin: 0.27rem auto 0;}
.rule p{ font-size: .22rem; color: #707070; padding-left: .3rem; line-height: .3rem;}
.rule  a{  color: #ec7900;  }
.rule_tit{ font-size: .38rem; color: #242424; margin-bottom: 0.18rem;}
.rule li{ position: relative; margin-bottom: .15rem;}
.rule_nub{ position: absolute; top: 0; left: 0; font-size: .22rem; color: #707070;}


a.btn_start{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/btn_start.png) no-repeat; width: 7.3rem; height: 1.32rem; background-size: 100%; text-align: center; line-height: 1.32rem; font-size: .36rem; color: #fff; letter-spacing: 0.03rem; display: block; margin: 0 auto;}

.btn_start_box{ position:fixed; bottom: 0; z-index: 10; width: 100%; height:1.4rem; background: #f2f2f2; padding-top: .1rem;}





/*pop*/
.pop {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.6);display: none;z-index: 10;}
.pop_form{position:absolute; left:0; bottom:-100%;width:100%; min-height: 5.72rem; margin-left:0;  text-align: center;background:#fff;background-size:5.39rem;z-index:10; border-top-left-radius:0.15rem;border-top-right-radius:0.15rem;}

.pop2 .pop_form{ height: 6.11rem;}
.pop3 .pop_form{ min-height: 11.5rem;}
.pop4 .pop_form{ min-height: 7.8rem;}
.pop5 .pop_form{ min-height: 7.8rem;}


.pop_btn{ width: 100%; text-align: center; font-size: 0;}
.pop_btn a{ width: 3.29rem; height: 1.1rem; display: inline-block; line-height: 1.1rem; font-size: .32rem; color: #ffffff; font-weight: bold; }
a.pop_btn_1{ background-position:-0.19rem -2.09rem ; }
a.pop_btn_2{ background-position:-3.47rem -2.09rem ; }


.pop_form .close{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_close.png) no-repeat; background-size: 100%; position: absolute;display: block;right: .24rem; top: .24rem;width: 0.27rem;height: 0.27rem; text-indent: -9999rem; }

.yhj_txt{ width: 6.27rem; margin: 0 auto; }
.yhj_txt p{ height: 3.81rem; font-size: .26rem; color: #2c2c2c; text-align: center; display: table-cell; vertical-align: middle;  }




.qfj_txt{ width: 6.27rem; margin: 0 auto; padding-top: 1.39rem; }
.qfj_txt p{ min-height: 1.41rem; font-size: .26rem; color: #2c2c2c; text-align: center;}
.qfj_btn1{ width: 5.54rem; height: 1.35rem; background-position: -.82rem -3.3rem; font-size:0; margin: 0 auto;  }
.qfj_btn1_txt1{ width: 3.98rem;font-size: .32rem; color: #ffffff;  padding-top: .2rem;}
.qfj_btn1_txt2{ width: 1.55rem;font-size: .32rem; color: #ffffff;padding-top: .2rem;}


.qfj_yhj{ width: 3.52rem; background: #64a8ff;   border-radius: 15px; height: .6rem;  transition:all 0.4s 0.1s ease;  position: relative; }

.qfj_yhjzk{ display: none; width: 100%; position: absolute; bottom: 0; left: 0;height: .6rem; overflow: hidden;background: #64a8ff;  border-radius: 15px; }
.act .qfj_yhjzk{  height: 1.8rem;  border-radius: 15px; display: block;}



.qfj_yhj p{ width: 3.22rem; margin: 0 auto; border-bottom: 0 none; line-height: .6rem; color: #ffffff; font-size: .24rem;}
.qfj_yhj p span{   color: #ffe222; font-weight: bold;  }

.qfj_yhjzk p{ width: 3.22rem; margin: 0 auto; border-bottom: 1px solid #9ac6ff; line-height: .6rem; color: #ffffff; font-size: .24rem;}
.qfj_yhjzk p:nth-child(1){ position:absolute; bottom: 1.2rem; left: 50%; transform: translate(-50%,0);}
.qfj_yhjzk p:nth-child(2){ position:absolute; bottom: 0.6rem; left: 50%; transform: translate(-50%,0);}
.qfj_yhjzk p:nth-child(3){ position:absolute; bottom: 0rem; left: 50%; transform: translate(-50%,0);}
.qfj_yhjzk p:last-child{ border-bottom: 0;}
.qfj_yhjzk p span{   color: #ffe222; font-weight: bold;  }


.qfj_yhj_txt_sj{ width: .15rem; height: .1rem; display: block; position: absolute; bottom: 0.25rem; right: 0.25rem; background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_sj1.png) center right no-repeat; background-size: .15rem; z-index: 2;}
.act .qfj_yhj_txt_sj{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_sj2.png) center right no-repeat; background-size: .15rem; }

.pop_gx{ width: .32rem; height: .31rem; margin-right:.3rem ; margin-top: .14rem;}

input.radios { display: none;    }
.radios + label{ display: block; width: .32rem; height: .31rem; line-height: .31rem; background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_gx1.png) left center no-repeat; background-size: .7rem; text-indent: -9999rem; background-position: 0 0;   }
.radios:checked + label{background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_gx1.png) left center no-repeat;background-size: .7rem; background-position: -.38rem 0; }



.pf_txt{ width: 6.27rem; margin: 0 auto; }
.pf_txt p{ font-size: .2rem; color: #272727; text-align: center; }
.pf_txt p.t1{ font-size: .38rem; color: #272727; text-align: center; margin-top: .6rem; margin-bottom: .28rem; }
.pf_nav { margin-top: .5rem; font-size: 0;}
.pf_nav a{ font-size: .34rem; color: #272727; margin: 0 0.35rem; display: inline-block; }
.pf_nav a.act{ color: #0071ff; border-bottom: 1px solid #0071ff; padding-bottom:.04rem;}

.pf_icon{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_icon_bg.jpg) no-repeat; background-size: 1.26rem;  width: 1.26rem; height: 1.26rem; overflow: hidden; border-radius: .1rem;}
.pf_icon img{ width: 100%;}
.pf_iconname{ font-size: .2rem; color: #5f5f5f; width: 2.15rem; margin-left: -.44rem; margin-top: .08rem; height: .63rem;}

.pf_list ul{text-align: center; font-size: 0; margin-top: .63rem;}
.pf_list li{ position: relative;width: 1.26rem; display: inline-block; margin: 0 0.41rem; vertical-align: top;}
.pf_icon_xz{ background:url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_pf_icon.png) no-repeat; background-size: 100%; width: .26rem; height: .26rem; position: absolute; top: -0.09rem; left: -0.09rem;}
.act .pf_icon_xz{ background:url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_pf_icon_act.png) no-repeat; background-size: 100%;  }

.pf_list li:last-child img{ width: 0.88rem; position: absolute;   top: 0.2rem; left: 0.2rem;}



.pf_list{ display: none;}
.pf_list .icon_yyy{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_icon_yyy.png) no-repeat; width: 0.75rem; height: .37rem; background-size: 100%; position: absolute; top: 0; right: 0; text-indent: -9999rem;display: none;}
.pf_list .on .icon_yyy{display: block;}


.cj_txt{ width: 6.27rem; margin: 0 auto; }
.cj_txt p{ font-size: .2rem; color: #272727; text-align: center; }
.cj_txt p.t1{ font-size: .38rem; color: #2c2c2c; text-align: center; margin-top: .6rem; margin-bottom: .86rem; }
.cj_txt p.t2{ font-size: .32rem; color: #343434; text-align: center; margin-top: .55rem; margin-bottom: .27rem; }
.cj_txt p.t3{ font-size: .28rem; color: #999898; text-align: center;   }
.cj_icon{ background: url(//game.gtimg.cn/images/appdaoju/act/a20200403coming/pop_cj_icon_bg.png) no-repeat; background-size: 100%; width: 1.16rem; height: 1.16rem; overflow: hidden; margin: 0 auto;}
.cj_icon img{ width: 100%;}
.cj_iconname{ font-size: .2rem; color: #999898; width: 2.28rem; text-align: center; margin-top: .14rem;}

/*鎶藉璁板綍 start*/
.cjjl_txt{ width: 6.27rem; margin: 0 auto; }
.cjjl_txt p{ font-size: .2rem; color: #272727; text-align: left; }
.cjjl_txt p.t1{ font-size: .38rem; color: #2c2c2c; text-align: left; margin-top: 0; margin-bottom: 0; }
.cjjl_txt p.t1.cjjltit{ text-align: center; margin-top: .6rem;}

.lottery_content{ width: 7.2rem; margin: 0 auto; position: relative; background: #ffffff; border-radius: .1rem; padding-top: .37rem;  }
.lottery_img{ background: #f5f7f9; border-radius: 0.05rem; width: 1.2rem; height: 1.2rem; overflow: hidden; float: left; margin-left: .27rem; position: relative;}
.lottery_img img{ position: absolute; width: 1rem; height: 1rem;  top: 50%; left: 50%; transform: translate(-50%,-50%); }


.lottery_txt{ float: left; padding-top: .24rem; padding-left: .2rem;}
.lottery_txt p.t1{ font-size:.34rem ; color: #2c2c2c;}
.lottery_txt p.t2{ font-size:.24rem ; color: #999999;}

.lottery_item{ margin-bottom: .21rem;}

.pagellists{ width: 100%; text-align:  center; padding-bottom: 0.3rem;}
.pagellists a{ font-size: 0.22rem; color: #2c2c2c; padding:0.1rem; margin: 0 0.1rem;}
.pagellists a.th{ background: #2592cd; color: #fff;}
/*鎶藉璁板綍 end*/



.mt8{ margin-top: .08rem;}
.mt30{ margin-top: .3rem;}
.pt20{ padding-top: .2rem;}
.pt36{ padding-top: .36rem;}

.pb22{ padding-bottom: 0.22rem;}
.mt44{ margin-top: .44rem;}
.mt90{ margin-top: .9rem;}
.t_c{ text-align: center;}
.d_i_b{ display: inline-block; vertical-align: top;}

.c3{font-size: 0.22rem;}



